.button-component {
  width: max-content;
  height: auto;
  border-radius: var(--border-radius-default);

  &.type {
    &-primary {
      background: var(--color-dark);
      color: var(--color-light);
      border: 1px solid transparent;
      transition: var(--transition-default);

      &:hover {
        background: var(--color-light);
        color: var(--color-dark);
        border: 1px solid var(--color-dark);
      }
    }

    &-secondary {
      background: var(--color-secondary);
      color: var(--color-light);
      border: 1px solid transparent;
      transition: var(--transition-default);

      &:hover {
        background: var(--color-light);
        color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
      }
    }

    &-text {
      background: transparent;
      color: var(--color-dark);
      transition: var(--transition-default);

      &:hover {
        color: var(--color-secondary);
      }
    }

    &-outline {
      background: transparent;
      color: var(--color-dark);
      border: 1px solid var(--color-dark);
      transition: var(--transition-default);

      &:hover {
        color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
      }
    }
  }

  &.size {
    &-large {
      padding: 12px 16px;
      font-size: 20px;
      line-height: 24px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &-medium {
      padding: 8px 12px;
      font-size: 16px;
      line-height: 20px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &-small {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 16px;

      svg {
        width: 8px;
        height: 8px;
      }
    }
  }

  &.icon-position {
    &-left {
      flex-direction: row;
    }

    &-right {
      flex-direction: row-reverse;
    }
  }
}